.room-slider {
    background-color: $white;
    .slick-list {
        .slick-slide {
            .slide {

            }
        }
    }
}

.misc {
    .inner {
        background-color: $white;
        border-radius: 4px;
        overflow: hidden;
        .gosti {
            i {
                min-width: 24px;
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
        .kvadratura {
            i {
                min-width: 24px;
                font-size: 1.25rem;
                margin-right: 0.5rem;
            }
        }
        .krevet {
            i {
                min-width: 24px;
                font-size: 1.25rem;
                margin-right: 0.5rem;
            }
        }
    }
}

.sadrzaj {
    .inner {
        background-color: $white;
        border-radius: 4px;
        overflow: hidden;
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                position: relative;
                &:before {
                    content: "\f058";
                    font-family: "Font Awesome 6 Free";  
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .room-slider {
        .slick-list {
            margin: 0 -8px;
            .slick-slide {
                margin: 0 8px;
                .slide {
    
                }
            }
        }
    }
}