// ============================================
// WHAT LEAD US TO SUCCESS - COMPONENT
// ============================================
section.what-lead-us-to-success {
    .success {
        max-width: 1520px;
        margin: 0 auto;
        .row {
            .col-12 {
                &:last-of-type {
                    .success-card__image {
                        object-position: top;
                    }
                }
            }
        }
    }
}
// ============================================
// SUCCESS CARD
// ============================================
.success-card {
    background-color: $dark-accent;
    border: 2px solid $accent;

    overflow: visible;
    display: flex;
    flex-direction: column;
    transition: $transition-base;
    border-radius: $border-radius-lg;
    &:hover {
        transform: translateY(-5px);
    }
}

.success-card__image-wrapper {
    position: relative;
    width: 100%;
    height: 260px;
    // overflow: hidden;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    background-color: $light-gray;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.18);
        mix-blend-mode: normal;
        opacity: 1;
    }
}

.success-card__image {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: $transition-base;
}
// Stavi na .success-card umesto na .success-card__image-wrapper
.success-card__icon {
    position: absolute;
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(90%, -50%);
    z-index: 15;
}

.success-card__icon-img {
    width: 76px;
    height: 76px;
    object-fit: contain;
}
.success-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: start;
    padding: 4rem;
    padding-bottom: 2rem;
}

.success-card__title {
    color: $secondary;
    margin-bottom: 2rem;
}

// ============================================
// RESPONSIVE
// ============================================
@media (max-width: 1400px) {
    .success-card__content {
        padding: 3rem;
    }
    .success-card__icon {
        transform: translate(50%, -50%);
    }
}
@media (max-width: 1200px) {
    .success-card__content {
        padding: 2rem;
    }
}
@media (max-width: 767px) {
    .success-card__image-wrapper {
        height: 200px;
    }

    .success-card__icon {
        transform: translate(20%, -50%);
    }
    .success-card__content {
        padding: 2rem;
        padding-top: 4rem;
    }
}
